:root {
  --background: #282a36;
  --currentline: #44475a;
  --foreground: #f8f8f2;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --main-three-gold: #bd93f9e1;
  --red: #ff5555;
  --yellow: #f1fa8c;
  --main-one-dark-gray: #524c42;
  --main-two-light-gray: #e2dfd0;
  --main-three-gold: #f97300;
  --main-four-purple: #32012f;
}
