@import url("./_colorVariables.css");

.login_register {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  /* background-color: var(--currentline);*/
  background-color: var(--register-login-bg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_bg {
  width: 50%;
}

.login_register section {
  width: 50%;
  height: 100%;
  background-color: var(--main-three-gold);
}
